.titulo-home {
  margin: 8rem;
  text-align: center;
  font-size: 5rem;
}
.botones__home {
  align-items: center;
  text-align: center;
}
.boton__registro {
  width: 10rem;
  margin: 1rem;
}

.boton__inicio__sesion {
  width: 10rem;
  margin: 1rem;
}
